@import 'antd/dist/reset.css';
@import './index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-smooth {
	scroll-behavior: smooth !important;
}

.custom-screen {
	@apply max-w-screen-xl mx-auto px-4 md:px-8;
}

/* Customize Video Player */

.plyr {
	border-radius: 8px;
}


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
